.img {
  display: block;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title {
  margin: 0;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
}

h3 {
  margin: 0;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-list {
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

header {
  border-bottom: 1px solid #ECECEC;
  padding: 24px 0 25px;
}

header .logo {
  margin-right: 93px;
}

header .contact-list {
  padding: 0;
}

.logo {
  color: #212121;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-align: left;
  margin-right: 93px;
}

.logo__seme {
  color: #2196F3;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navlist {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link {
  color: #212121;
  position: relative;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover, .nav__link:focus {
  color: #2196F3;
}

.nav__link--current {
  color: #2196F3;
}

.nav__link--current::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  margin-top: 28px;
}

.nav__item:not(:first-child) {
  margin-left: 50px;
}

.contact-list--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.contact-list__item--last {
  margin-left: 50px;
}

.contact-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-list__link--color {
  color: #757575;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list__link--color:hover, .contact-list__link--color:focus {
  color: #2196F3;
}

.contact-list__icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  background-color: #c4c4c4;
  background: rgba(47, 48, 58, 0.4);
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
}

.hero__title {
  font-family: Roboto;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 30px;
}

.hero__container {
  text-align: center;
}

.hero__button {
  background-color: #2196F3;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  padding: 10px 32px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  height: 50px;
  border: none;
}

.backdrop {
  position: fixed;
  opacity: 1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.backdrop .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.5);
          transform: translate(-50%, -50%) scale(1.5);
}

.backdrop.backdrop__is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 2px 1px 0px #000000 20%, 0px 1px 1px 0px #000000 14%, 0px 1px 3px 0px #000000 12%;
          box-shadow: 0px 2px 1px 0px #000000 20%, 0px 1px 1px 0px #000000 14%, 0px 1px 3px 0px #000000 12%;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 40px;
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 5px 5px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-button:hover, .modal__close-button:focus {
  background-color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modal__close-button:hover .modal__icon,
.modal__close-button:focus .modal__icon {
  fill: #2196F3;
}

.modal__icon {
  width: 18px;
  height: 18px;
  fill: #000000;
  margin: 0;
  padding: 0;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon:hover, .modal__icon:focus {
  fill: #2196F3;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-form__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0 0 2px;
}

.modal-form__lable {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  text-align: left;
  margin: 10px 0 4px;
}

.modal-form__input {
  position: relative;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:hover {
  border: 1px solid #2196F3;
}

.modal-form__icon {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus ~ .modal-form__icon,
.modal-form__input:hover ~ .modal-form__icon {
  fill: #2196F3;
}

.modal-form__field {
  position: relative;
}

.modal-form__comment {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 20px;
}

.modal-form__comment::-webkit-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__comment:-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__comment::-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__comment::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__checkbox-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.modal-form__checkbox-lable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 12px;
}

.modal-form__checked-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin: 3px 8.38px 0 0;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__checkbox-input:checked + .modal-form__checked-icon {
  background-color: #2196F3;
  border: 2px solid #2196F3;
  fill: #fff;
}

.modal-form__agreament {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  display: inline;
}

.modal-form__policy {
  color: #2196F3;
  text-decoration: underline;
}

.modal-form__submit-button {
  padding: 10px 55px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  width: 200px;
  height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.modal-form__submit-block {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  margin-left: 124px;
}

.profits {
  padding: 94px 0;
}

.profits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profits__img-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin-bottom: 30px;
}

.profits__img {
  width: 270px;
  height: 120px;
  padding: 25px 100px;
  background-color: #F5F4FA;
}

.profits__icon {
  width: 70px;
  height: 70px;
}

.profits__heading {
  color: #212121;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  width: 270px;
  height: 17px;
}

.profits__description {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  width: 270px;
  margin: 10px 0 0;
}

.presentation {
  padding-bottom: 94px;
}

.container .presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.presentation__list {
  padding-left: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.presentation__item {
  position: relative;
  width: 370px;
  height: 294px;
  margin-right: 30px;
}

.presentation__description {
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  padding: 27px 0 27px 0;
  text-align: center;
  color: #fff;
  position: absolute;
  bottom: 0px;
  -webkit-transform: translateY();
          transform: translateY();
}

.presentation__heading {
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
}

.presentation__title {
  text-align: center;
  margin-bottom: 50px;
}

.team-section {
  background-color: #F5F4FA;
  padding: 94px 0;
}

.team-section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.team-section__title {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
}

.team-section__card {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}

.team-section__card:not(:last-child) {
  margin-right: 30px;
}

.team-section__img {
  width: 270px;
  height: 260px;
}

.team-section__member {
  padding: 30px 0 0;
}

.team-section__heading {
  color: #212121;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.team-section__position {
  color: #757575;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0;
}

.team-section__social-icons {
  margin: 16px 32px 0;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0;
}

.social-icons__item:not(:last-child) {
  margin-right: 10px;
}

.social-icons__icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}

.social-icons__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons__link:hover, .social-icons__link:focus {
  background-color: #2196F3;
}

.social-icons__link:hover .social-icons__icon,
.social-icons__link:focus .social-icons__icon {
  fill: #FFFFFF;
}

.clients-section {
  padding: 94px 0;
}

.clients-section__title {
  text-align: center;
  margin-bottom: 50px;
}

.clients-section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clients-section__link {
  width: 170px;
  height: 90px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 20px 62.73px 20.77px 63px;
}

.clients-section__link--nd {
  padding: 19px 65px;
}

.clients-section__link--rd {
  padding: 24px 65px 23.4px;
}

.clients-section__link--fourth {
  padding: 24px 45.34px 23px 45px;
}

.clients-section__link--fifth {
  padding: 22px 55px 21px 54px;
}

.clients-section__link--sixth {
  padding: 19px 40px 19px 40px;
}

.clients-section__link:hover, .clients-section__link:focus {
  border: 1px solid #2196F3;
}

.clients-section__link:hover .clients-section__icon,
.clients-section__link:focus .clients-section__icon {
  fill: #2196F3;
}

.clients-section__icon {
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-section {
  padding: 94px 0;
}

.button-list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.button-list__item {
  margin-right: 8px;
}

.button-list__button {
  background-color: #F5F4FA;
  color: #212121;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: center;
  border: none;
  padding: 6px 22px;
  position: relative;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-list__button:hover, .button-list__button:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}

.grid__item {
  width: 370px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 30px 30px 0;
  -webkit-box-shadow: 1px 4px 6px 0px #000000 16%, 0px 4px 4px 0px #000000 6%, 0px 1px 1px 0px #000000 12%;
          box-shadow: 1px 4px 6px 0px #000000 16%, 0px 4px 4px 0px #000000 6%, 0px 1px 1px 0px #000000 12%;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.grid__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.grid__item:nth-child(3n) {
  margin: 0 0 30px;
}

.product__link {
  display: block;
  width: 370px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.product__link:hover, .product__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product__link:hover .product__layer-over,
.product__link:focus .product__layer-over {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.product__img {
  display: block;
  width: 368px;
}

.product__thumb {
  position: relative;
  overflow: hidden;
}

.product__meta {
  padding: 20px 24px;
}

.product__layer-over {
  top: 0px;
  left: 0px;
  position: absolute;
  width: 370px;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #FFFFFF;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product__name {
  color: #212121;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.06em;
  text-align: left;
  margin-bottom: 4px;
}

.product__type {
  color: #757575;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-align: left;
  margin: 0;
}

.footer-section {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.footer-section__item--first {
  margin-right: 70px;
}

.footer-section__item--second {
  padding-top: 7px;
}

.footer-section__item--third {
  position: relative;
  height: 95px;
  margin-left: 93px;
  padding-top: 9px;
}

.footer-section__item .contact-list {
  display: block;
}

.footer-section__heading {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #FFFFFF;
  text-transform: uppercase;
}

.footer__social-icons {
  margin-top: 20px;
}

.footer__contact-list {
  margin: 0 0;
  padding-left: 0;
}

.footer__logo {
  color: #ffffff;
}

.social-icons__item--background {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.address {
  font-style: normal;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  width: 231px;
  height: 21px;
  margin-top: 20px;
  margin-bottom: 0;
}

.contact-list__item--position {
  width: 231px;
  height: 21px;
  margin-top: 9px;
}

.contact-list__link--colour {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subscribe-form__lable {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.subscribe-form__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  background-color: #2F303A;
}

.subscribe-form__button {
  font-family: Roboto;
  font-weight: 700;
  position: absolute;
  width: 200px;
  height: 50px;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  color: #ffffff;
  padding: 10px 62px 10px 29px;
  margin-left: 12px;
}

.subscribe-form__icon {
  top: 13px;
  right: 28px;
  position: absolute;
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

.f-m-b {
  height: 50px;
}
/*# sourceMappingURL=main.css.map */