$main-color: #2196F3;
$footer-bgColor: #2F303A;
$main-textColor: #212121;
$second-textColor: #757575;
$third-textColor: #ffffff;
$main-iconsColor: #AFB1B8;
$second-bgColor: #F5F4FA;
$main-font: Roboto;