.hero{
  background-color: #c4c4c4;
  background: rgba(47, 48, 58, 0.4);
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient( to right,
  rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)),
    url('../images/hero.jpg'); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;

  &__title{
    font-family: Roboto;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 30px;
  }  

  &__container{
    text-align: center;
  }

  &__button{
    background-color: #2196F3;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: center;
    padding: 10px 32px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    height: 50px;
    border: none;
  }
}