.logo{
  color: #212121;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-align: left;
  margin-right: 93px;

  &__seme {
    color: #2196F3;
  }
}