.presentation{
  padding-bottom: 94px;

  .container &{
    display: flex;
  }

  &__list{
    padding-left: 0;
    display: inline-flex;
  }

  &__item{
    position: relative;
    width: 370px;
    height: 294px;
    margin-right: 30px;
  }

  &__description{
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    padding: 27px 0 27px 0;
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 0px;
    transform: translateY() ;
  }

  &__heading{
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16.41px;
    letter-spacing: 0.03em;
  }

  &__title{
    text-align: center;
    margin-bottom: 50px;
  }
}    

